<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Propiedades personalizadas -->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n" />
    <property name="LOG_PATH" value="logs" />

    <!-- Consola -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Archivo para logs generales -->
    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Nivel de logs por defecto -->
    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="FileAppender"/>
    </root>

    <!-- Loggers específicos (útiles para debug de paquetes propios) -->
    <logger name="com.jcgfdev" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="FileAppender"/>
    </logger>

</configuration>
